[submodule "micro-productos"]
	path = micro-productos
	url = https://github.com/IsaiasMorochi/micro-productos.git
[submodule "micro-item"]
	path = micro-item
	url = https://github.com/IsaiasMorochi/micro-item.git
[submodule "micro-eureka-server"]
	path = micro-eureka-server
	url = https://github.com/IsaiasMorochi/micro-eureka-server.git
[submodule "micro-zuul-server"]
	path = micro-zuul-server
	url = https://github.com/IsaiasMorochi/micro-zuul-server.git
[submodule "micro-config-server"]
	path = micro-config-server
	url = https://github.com/IsaiasMorochi/micro-config-server.git
