[submodule "micro-productos"]
	path = micro-productos
	url = https://github.com/IsaiasMorochi/micro-productos.git
[submodule "micro-item"]
	path = micro-item
	url = https://github.com/IsaiasMorochi/micro-item.git
[submodule "micro-eureka-server"]
	path = micro-eureka-server
	url = https://github.com/IsaiasMorochi/micro-eureka-server.git
[submodule "micro-zuul-server"]
	path = micro-zuul-server
	url = https://github.com/IsaiasMorochi/micro-zuul-server.git
[submodule "micro-config-server"]
	path = micro-config-server
	url = https://github.com/IsaiasMorochi/micro-config-server.git
[submodule "micro-commons"]
	path = micro-commons
	url = https://github.com/IsaiasMorochi/micro-commons.git
[submodule "micro-usuarios"]
	path = micro-usuarios
	url = https://github.com/IsaiasMorochi/micro-usuarios.git
[submodule "micro-usuarios-commons"]
	path = micro-usuarios-commons
	url = https://github.com/IsaiasMorochi/micro-usuarios-commons.git
[submodule "micro-oauth"]
	path = micro-oauth
	url = https://github.com/IsaiasMorochi/micro-oauth.git
[submodule "commons-usuarios"]
	path = commons-usuarios
	url = https://github.com/IsaiasMorochi/commons-usuarios.git
[submodule "micro-settings"]
	path = micro-settings
	url = https://github.com/IsaiasMorochi/micro-settings.git
